/* Root */
:root{
    --h_header: 100px;
}

/* Generics */
section{
    padding: 2rem 0;
    /* border: 1px solid red; */
}

/* Utils */
/* .container{
    border: 1px solid black;
} */

.flex{
    display: flex;
}

img{
    max-width: 100%;
    height: auto;
}

header .row{
    height: var(--h_header);
}

/* .col{
    border: 1px solid green;
} */

.mycol_pd_1r{
    padding: 1rem;
    /* border: 1px solid red; */
}

/* .my_content{
    border: 1px solid orange;
} */

.div_line_star{
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.div_line_star .line{
    border-bottom: 2px solid currentColor;
    flex-basis: 20%;
}

.div_line_star .fa-star{
    font-size: 24px;
    font-weight: 700;
    flex-basis: 10%;
}

/* Header */
header .navbar-brand{
    color: white;
    font-size: 20px;
    font-weight: 700;
}

header .nav-link{
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.navbar-brand:focus, .navbar-brand:hover,
.nav-link:focus, .nav-link:hover{
    color: white;
}

header .navbar-collapse{
    flex-grow: 0;
}

header .navbar-toggler{
    border: 2px solid white;
}

header .navbar-toggler:focus{
    box-shadow: none;
}

/* Jumbotron */
.img_container{
    width: 400px;
    margin: 0 auto;
}

/* Portfolio */
.portfolio img{
    border-radius: 10px;
}

/* Contact */
.contact .form-control{
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid gray;
    padding: 0;
    box-shadow: none;
}

.contact .form-label{
    margin-bottom: 0;
}

.contact textarea{
    resize: none;
}

.contact label{
    font-size: 16px;
    font-weight: 700;
    color: #2C3E50;
}

/* Main Bottom */
.main_bottom .bottom_title{
    font-size: 18px;
    font-weight: 700;
    padding: 10px 0;
    text-transform: uppercase;
}

.bottom_icon{
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bottom_icon > *{
    text-align: center;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
}

.bottom_icon .fa-brands{
    font-size: 20px;
    line-height: 40px;
}

.boot_link{
    text-decoration: none;
    color: #1ABC9C;
}

/* Colors */
.my_color_text{
    color: #2C3E50;
}

.my_bg_header{
    background-color: #2C3E50;
}

.my_bg_green{
    background-color: #1ABC9C;
}

.my_bg_bottom{
    background-color: #3A546D;
}

.my_bg_footer{
    background-color: #2C3E50;
}

/* Font Awesome */
header .fa-bars{
    color: white;
}

/* Buttons */
.my_btn{
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.my_btn:hover{
    color: white;
}

.my_btn.my_download{
    background-color: transparent;
    border: 1px solid white;
}

.my_btn.my_send{
    background-color: #1ABC9C;
    border: 0;
}






