/* Root */
:root{
    --h_header: 80px;
}

/* Generics */
header{
    height: 80px;
}

section{
    padding: 2rem 0;
    border: 1px solid red;
}

h2{
    text-align: center;
}

/* Utils */
.container{
    border: 1px solid black;
}

header .row{
    height: var(--h_header);
}

.col{
    border: 1px solid green;
}

.mycol_pd_1r{
    padding: 1rem;
    border: 1px solid red;
}

.my_content{
    border: 1px solid orange;
}


